{% assign categories = include.path | split:"/" %}
<!-- {{ categories }}----------- -->
{% assign filename_without_extension = categories | last | split:"." | first %}
<!-- {{ filename_without_extension }}------------- -->
{% if categories contains "_posts" or filename_without_extension == "index" %}
{% comment %} posts are like /docs/python/_posts/2016-06-06-foobar.md {% endcomment %}
{% comment %} OR pages are index.* i.e.: like /docs/python/index.md or index.html {% endcomment %}
{% assign categories = categories | pop %}

<!-- {{ categories }} -->

{% endif %}

{% assign route="" %}

<div class="container wrap breadcrumbs">
  <a href="{{ '/' | absolute_url }}">Home</a>
  {% for category in categories %}
    <span class="prompt margin-left-10 margin-right-10">></span>
    {% assign route = route | append: '/' | append: category %}
    {% if forloop.last %}

      {% if include.title %}
        {{include.title}}

      {% else %}
        {{ category }}
        
      {% endif %}

    {% else %}
      <a href="{{ route | absolute_url }}">{{ category }}</a>

    {% endif %}

  {% endfor %}
</div>


<!--  <div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="{{ '/' | absolute_url }}">Home</a>
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}
                {% for crumb in crumbs limit: crumb_limit %}
                {{ crumb | append: '/' }}{% endfor %}">
                {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
        </a>
    {% endif %}
  {% endfor %}
</div> -->


<!-- {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}
<ol>
 {% if num_parts == "0" or num_parts == "-1" %}
  <li><a href="{{ '/' | absolute_url }}">home</a> &nbsp; </li>
 {% else %}
  <li><a href="{{ '/' | absolute_url }}">home</a> &#187; </li>

  {% for unused in page.content limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</ol> -->