<div class="">
  {% if site.categories.events.size == 0 %}
  <h2>No event found</h2>
  {% else %}

  <h3>Present Workshop Happening Today</h3> 

  {% for event in site.categories.events %}

  {% if event.group == "workshop" %}

  <div present-date="{{ event.date | date: '%Y-%m-%d' }}" class="list-item container">
 
  <a href="{{ site.baseurl }}{{ event.url }}" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">


<!--     <div class="list-item-icon container align-items-center justify-content-center">
      <span class="feather-icon icon-{{post.icon}}" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></span>
    </div> -->

    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-post-title">
          {{ event.title }}  <sub><i> | {{ event.group }}</i></sub>
        </h2>
      </div>

      <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <small>Organized by <span>{{ event.by }}</span>-</small>
        <small><time>{{ event.date | date_to_string }}</time></small>
      </div>

      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="list-post-description">{{ event.description }}</span>
      </div>

    </div>

  </a>

</div>
<p id="info_present"></p>

  {% endif %}
  {% endfor %} 

  <h3>Future Workshops</h3> 

  {% for event in site.categories.events %}

  {% if event.group == "workshop" %}

<div future-date="{{ event.date | date: '%Y-%m-%d' }}" class="list-item container">
 
  <a href="{{ site.baseurl }}{{ event.url }}" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">


    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-post-title">
          {{ event.title }}  <sub><i> | {{ event.group }}</i></sub>
        </h2>
      </div>

      <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <small>Organized by <span>{{ event.by }}</span>-</small>
        <small><time>{{ event.date | date_to_string }}</time></small>
      </div>

      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="list-post-description">{{ event.description }}</span>
      </div>

    </div>

  </a>

</div>
<p id="info_future"></p>

{% endif %}
{% endfor %} 

<h3>Past Workshops</h3> 

{% for event in site.categories.events %}

{% if event.group == "workshop" %}

<div past-date="{{ event.date | date: '%Y-%m-%d' }}" class="list-item container">
 
  <a href="{{ site.baseurl }}{{ event.url }}" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">



    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-post-title">
          {{ event.title }}  <sub><i> | {{ event.group }}</i></sub>
        </h2>
      </div>

      <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <small>Organized by <span>{{ event.by }}</span>-</small>
        <small><time>{{ event.date | date_to_string }}</time></small>
      </div>

      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="list-post-description">{{ event.description }}</span>
      </div>

    </div>

  </a>

</div>

<p id="info_past"></p>


  {% endif %}
  {% endfor %} 
  {% endif %}

</div>
