<header>

  <div class="header container align-items-center justify-content-center">
    <div class="header--block size margin container column">

      {% if page.url contains "event" %}
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <h2 class="header-heading">Events</h2> 
      </div>


      <div class="container column position-search">

        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">

          <div class="header--block--input--icon">
            <span class="feather-icon icon-search"></span>
          </div>

          <input class="input-search" type="text" name="" value="" placeholder="Search for events..." id="search-input">

        </div>

        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>

      </div>
      

        {% if page.url != "/event_page.html" %}
        <a href="{{ '/' | absolute_url }}event_page" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
          <button class="cancel-btn feather-icon icon-corner-down-left">All events</button>
        </a>

        {% else %}
        <div class="container align-items-center" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">

          <a href="{{ '/' | absolute_url }}event_sort_workshop.html"><button class="dropbtn">Workshop</button></a>
          <a href="{{ '/' | absolute_url }}event_sort_training.html"><button class="dropbtn">Training</button></a>
          <a href="{{ '/' | absolute_url }}event_sort_seminar.html"><button class="dropbtn">Seminar</button></a>

        </div>

        {% endif %}

        
      {% else %}
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <h2 class="header-heading">Announcements, posts and events for data experts Team</h2>
      </div>

      <div class="container column position-search">

        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">

          <div class="header--block--input--icon">
            <span class="feather-icon icon-search"></span>
          </div>

          <input class="input-search" type="text" name="" value="" placeholder="Search for posts..." id="search-input">

        </div>

        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>

      </div>


        {% if page.url  != "/" %}
          <a href="{{ '/' | absolute_url }}" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
            <button class="cancel-btn feather-icon feather-icon icon-corner-down-left">All posts</button>
          </a>

        {% else %}
        <div class="container align-items-center" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">

          <a href="{{ '/' | absolute_url }}post_sort_primary.html"><button class="dropbtn">Primary</button></a>
          <a href="{{ '/' | absolute_url }}post_sort_secondary.html"><button class="dropbtn">Secondary</button></a>

        </div>

        {% endif %}

      {% endif %}


    </div>
  </div>

</header>