<div class="menu">
    <div class="size margin menu--content container align-items-center justify-content-between">
  

    
        <a href="{{ '/' | absolute_url }}" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
            <div class="container align-items-baseline back-to-site">
              <div class="">
                <span class="feather-icon icon-external-link"></span>
              </div>
              <div class="back-to-site-text">
                Home
              </div>
            </div>
          </a>

      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <h1>{{ site.title }}</h1>
      </div>

      <div class="" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
        <a href="">Subscribe</a>
      </div>
  <!--     <nav class="masthead-nav">
        {% for page in site.pages %}
        {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
        {% endif %}
        {% endfor %}
      </nav> -->
    </div>
  </div>
  